[submodule "submodules/conclog"]
	path = submodules/conclog
	url = https://github.com/ariadne-cps/conclog
[submodule "submodules/pronest"]
	path = submodules/pronest
	url = https://github.com/ariadne-cps/pronest
